<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @cliente.apellido %>
</p>

<p>
  <b>Dni:</b>
  <%= @cliente.dni %>
</p>

<p>
  <b>Tel casa:</b>
  <%= @cliente.tel_casa %>
</p>

<p>
  <b>Tel particular:</b>
  <%= @cliente.tel_particular %>
</p>

<p>
  <b>Direccion:</b>
  <%= @cliente.direccion %>
</p>

<p>
  <b>Mail:</b>
  <%= @cliente.mail %>
</p>

<p>
  <b>Notas:</b>
  <%= @cliente.notas %>
</p>

<p>
  <b>Edad:</b>
  <%= @cliente.edad %>
</p>

<p>
  <b>Nacimiento:</b>
  <%= @cliente.nacimiento %>
</p>

<p>
  <b>Cuil:</b>
  <%= @cliente.cuil %>
</p>

<p>
  <b>Tel emergencia:</b>
  <%= @cliente.tel_emergencia %>
</p>

<p>
  <b>Medico cabe:</b>
  <%= @cliente.medico_cabe %>
</p>

<p>
  <b>Telefono cabe:</b>
  <%= @cliente.telefono_cabe %>
</p>

<p>
  <b>Medico trat:</b>
  <%= @cliente.medico_trat %>
</p>

<p>
  <b>Telefono trat:</b>
  <%= @cliente.telefono_trat %>
</p>

<p>
  <b>Fecha ultimo control:</b>
  <%= @cliente.fecha_ultimo_control %>
</p>

<p>
  <b>Patologia:</b>
  <%= @cliente.patologia %>
</p>

<p>
  <b>Actividades:</b>
  <%= @cliente.actividades %>
</p>

<p>
  <b>Objetivos:</b>
  <%= @cliente.objetivos %>
</p>

<p>
  <b>Epicrisis:</b>
  <%= @cliente.epicrisis %>
</p>

<p>
  <b>Asistencia:</b>
  <%= @cliente.asistencia %>
</p>

<p>
  <b>Vencimiento:</b>
  <%= @cliente.vencimiento %>
</p>

<p>
  <b>Sesiones:</b>
  <%= @cliente.sesiones %>
</p>

<p>
  <b>Costo:</b>
  <%= @cliente.costo %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
