<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @egreso.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @egreso.descripcion %>
</p>

<p>
  <b>Tipo:</b>
  <%= @egreso.tipo %>
</p>

<p>
  <b>Monto:</b>
  <%= @egreso.monto %>
</p>

<p>
  <b>Diario:</b>
  <%= @egreso.diario %>
</p>

<p>
  <b>Beer tan:</b>
  <%= @egreso.beer_tan %>
</p>

<p>
  <b>Pepsico:</b>
  <%= @egreso.pepsico %>
</p>

<p>
  <b>Ro golo:</b>
  <%= @egreso.ro_golo %>
</p>

<p>
  <b>Payes:</b>
  <%= @egreso.payes %>
</p>

<p>
  <b>Art limpieza:</b>
  <%= @egreso.art_limpieza %>
</p>

<p>
  <b>Varios:</b>
  <%= @egreso.varios %>
</p>

<p>
  <b>Retiro gus:</b>
  <%= @egreso.retiro_gus %>
</p>

<p>
  <b>Fecha:</b>
  <%= @egreso.fecha %>
</p>

<p>
  <b>Usuario:</b>
  <%= @egreso.usuario %>
</p>


<%= link_to 'Edit', edit_egreso_path(@egreso) %> |
<%= link_to 'Back', egresos_path %>
