<h1>Administracion</h1>
<p>Arranquemos con esto</p>
<%= link_to 'Clientes', clientes_path %>
<%= link_to 'Empleados', empleados_path %>
<%= link_to 'Equipos', equipos_path %>
<%= link_to 'Proveedores', proveedors_path %>
<%= link_to 'Egresos', egresos_path %>
<%= link_to 'Ingresos', ingresos_path %>
<%= link_to 'Clases', clases_path %>
