<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @empleado.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @empleado.apellido %>
</p>

<p>
  <b>Dni:</b>
  <%= @empleado.dni %>
</p>

<p>
  <b>Tel casa:</b>
  <%= @empleado.tel_casa %>
</p>

<p>
  <b>Tel particular:</b>
  <%= @empleado.tel_particular %>
</p>

<p>
  <b>Direccion:</b>
  <%= @empleado.direccion %>
</p>

<p>
  <b>Mail:</b>
  <%= @empleado.mail %>
</p>

<p>
  <b>Notas:</b>
  <%= @empleado.notas %>
</p>

<p>
  <b>Capacitacion:</b>
  <%= @empleado.capacitacion %>
</p>

<p>
  <b>Experiencia:</b>
  <%= @empleado.experiencia %>
</p>

<p>
  <b>Horarios:</b>
  <%= @empleado.horarios %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @empleado.observaciones %>
</p>

<p>
  <b>Edad:</b>
  <%= @empleado.edad %>
</p>

<p>
  <b>Nacimiento:</b>
  <%= @empleado.nacimiento %>
</p>

<p>
  <b>Cuil:</b>
  <%= @empleado.cuil %>
</p>

<p>
  <b>Tel emergencia:</b>
  <%= @empleado.tel_emergencia %>
</p>

<p>
  <b>Valor hora:</b>
  <%= @empleado.valor_hora %>
</p>

<p>
  <b>Horas mes:</b>
  <%= @empleado.horas_mes %>
</p>

<p>
  <b>Horas mes anterior:</b>
  <%= @empleado.horas_mes_anterior %>
</p>

<p>
  <b>Porcentaje:</b>
  <%= @empleado.porcentaje %>
</p>

<p>
  <b>Mes:</b>
  <%= @empleado.mes %>
</p>

<p>
  <b>Clases:</b>
  <%= @empleado.clases %>
</p>

<p>
  <b>Salario:</b>
  <%= @empleado.salario %>
</p>


<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>
