<h1>Listing equipos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha ultimo</th>
    <th>Fecha proximo</th>
    <th>Gasto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipos.each do |equipo| %>
  <tr>
    <td><%= equipo.nombre %></td>
    <td><%= equipo.descripcion %></td>
    <td><%= equipo.fecha_ultimo %></td>
    <td><%= equipo.fecha_proximo %></td>
    <td><%= equipo.gasto %></td>
    <td><%= link_to 'Show', equipo %></td>
    <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
    <td><%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipo', new_equipo_path %>
